.alert__container {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.alert__icons {
    margin-right: 1rem;
}

.alert {
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    display: flex;
}

.alert__info {
    color: var(--info-color);
    background-color: var(--info-bg);
}

.alert__sucess {
    color: var(--success-color);
    background-color: var(--success-bg)
}

.alert__error {
    color: var(--error-color);
    background-color: var(--error-bg);
}

.alert__warning {
    color: var(--warning-color);
    background-color: var(--warning-bg);
}

.alert__codesnippet-section {
    width: 100%;
    border: 1px solid var(--primary-color);
    background-color: var(--lightwhite-color);
    border-radius: 5px;
    background-color: var(--codesnipet-bg);
}