:root {

    --primary-color: #008000;
    --primary-color-hover: hsl(145, 95%, 50%);;
    --secondary-color: hsl(89, 72%, 41%);
    --cta-color: hsl(96, 68%, 31%);
    --cta-hover:hsl(77, 57%, 51%);
    --secondary-bg: hsla(28, 32%, 40%, 0.102);
    --lightwhite-color:hsl(0, 0%, 98%);
    --codesnipet-bg:hsl(0, 0%, 100%);
    --background-color: hsl(39, 78%, 69%);
    --card-background: hsl(38, 73%, 84%);
    --info-color: hsl(211, 100%, 26%);
    --info-bg: hsl(211, 100%, 90%);
    --warning-color: hsl(45, 94%, 27%);
    --warning-bg:hsl(45, 100%, 90%);
    --error-color: hsl(354, 61%, 28%);
    --error-bg: hsla(357, 93%, 71%, 0.102);
    --success-color: hsl(133, 61%, 21%);
    --success-bg:hsl(137, 41%, 88%);
    --text-color: hsl(199, 31%, 14%);
    --dark-grey: rgb(100, 100, 100);
    --grey: rgb(150, 150, 150);
    --grey-highlight: rgb(150, 150, 150, 0.2);
    --light-grey: rgb(240, 240, 240);
    --default-box-shadow: 0px 0px 6px -2px grey;
    
  }