.container {

    display: flex;
    flex-wrap: wrap;
}



.aside__container {
    flex: 20%;
    height: 100%;
    position: sticky;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
}

.aside__content {
    display: flex;
    flex-direction: column;

}

.aside__header{
    text-align: center;
}

.aside__header span:hover{
  color: var(--secondary-color);
}

.aside__content li{
   cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.125rem;
    text-align: center;
}

.main__container {
    flex: 80%;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);

}