.container {

    display: flex;
    flex-wrap: wrap;
}



.aside__container {
    flex: 20%;
    height: 100%;
    position: sticky;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
}

.aside__content {
    display: flex;
    flex-direction: column;

}

.aside__content span {

    padding: 1rem;
    cursor: pointer;
}

.main__container {
    flex: 80%;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);

}