/* .container {
    min-height: 100vh;
} */

.header__container {
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 10%);
    justify-content: space-between;
    min-height: 10vh;
}

.header__brand-name a {
    color: var(--primary-color);
}

.button__contaier_landingpage {
    gap: 1rem;
}

.text__primary-color {
    color: var(--primary-color);
}

.main__content{

    justify-content: space-evenly;
}

/* installment section */
.installment__desciption-text {
    width: 60%;
}

.installment__code-snippet {
    width: 50%;
    background-color: var(--installment-snipet-color);
    padding: 1rem 0;
    border: 1px solid var(--primary-color);
    overflow: auto;
    border-radius: 0.3rem;
}