.image__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}
.img_responsive{
   width: 100%;
   height: auto;
}

.round_image{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
}

