@import url("./reset.css");
@import url("./typography.css");
@import url("./variable.css");
@import url("./footer.css");
@import url("./utils.css");
@import url("./padding.css");
@import url("./margin.css");
@import url("./color.css");
@import url("./button.css");
@import url("./document.css");
@import url("./avatar.css");
@import url("./alert.css");
@import url("./badge.css");
@import url("./card.css");
@import url("./image.css");
@import url("./input.css");
@import url("./textutilities.css");
@import url("./list.css");
@import url("./navigation.css");
@import url("./modal.css");



*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


