@import url("./reset.css");
@import url("./typography.css");
@import url("./variable.css");
@import url("./footer.css");
@import url("./utils.css");
@import url("./padding.css");
@import url("./margin.css");
@import url("./color.css");
@import url("./button.css");


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


