.navbarMain_body {
    flex-wrap: wrap;
    gap: 3rem;
}

.ecom_header {
    width: 100%;
    background-color: var(--light-grey);
    justify-content: space-between;
    padding: 1rem;
}

.nav {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cart_btn {
    background-color: var(--light-grey);
}

.brand_name a {
    color: var(--primary-color);
}

.large_icon {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.input_Search_container {
    flex-basis: 30%;
}

.input_search {
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.cart_count {
    position: absolute;
    top: -4px;
    right: 3.2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--danger-color);
    color: var(--lightwhite-color);
    text-align: center;
}


/* home page navbar */

.navbar__container {
    display: flex;
    flex: 100%;
    justify-content: space-between;
    background-color: var(--light-grey);
}

.link__nostyle {
   text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navbar__git-icon {
    display: flex;
    justify-content: flex-end;
}

a{
    color:var(--text-color);
    font-weight: 700;
}

a:hover{
    color: var(--secondary-color);
}

.navbar_nav a{
    color: var(--primary-color) !important;
}
