.rating_main_container {
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 4rem;
}

.rating {
    color: var(--background-color);
}

.light_color{
    text-shadow: -1px 0 var( --warning-color), 0 1px var( --warning-color), 1px 0 var( --warning-color), 0 -1px var(--background-color);
    color: var(--lightwhite-color);
}