.rating_main_container {
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 4rem;
}

.rating {
    color: var(--rating-color);
}

.light_color{
    text-shadow: -1px 0 var( --rating-color), 0 1px var( --rating-color), 1px 0 var( --rating-color), 0 -1px var( --background-color);
    color: var( --background-color);
}