<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>GK UI</title>
    <script
      src="https://kit.fontawesome.com/a4417b6562.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <navbar class="navbar__container box-shadow mb-2">
        <div class="navbar_nav">
          <a href="#" class="link__nostyle fs-xl header__brand-name"> GK UI</a>

          <button class="button">
            <a href="#" class="link__nostyle">Home</a>
          </button>

          <button class="button">
            <a href="#" class="link__nostyle">Installment</a>
          </button>

          <button class="button">
            <a href="../pages/documentation.html" class="link__nostyle"
              >Documnetation
            </a>
          </button>
        </div>

        <div class="navbar__git-icon">
          <button class="button btn-icon">
            <a
              href="https://github.com/shubhamkumar648"
              class="link__nostyle"
              target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </button>
        </div>
      </navbar>

      <aside class="aside__container p-2">
        <div class="aside__header">
          <span class="fs-xl">Component</span>
        </div>

        <hr />

        <div class="aside__content p-1">
          <span>
            <a class="active link__nostyle" href="../component/avatar.html"
              >Avatar</a
            ></span
          >

          <span>
            <a class="active link__nostyle" href="../component/alert.html"
              >Alert</a
            ></span
          >
          <span>
            <a class="active link__nostyle" href="../component/badge.html"
              >Badges</a
            ></span
          >
          <span>
            <a class="active link__nostyle" href="../component/button.html"
              >button</a
            ></span
          >

          <span> <a class="active link__nostyle" href="#home">Home</a></span>
          <span> <a class="active link__nostyle" href="#home">Home</a></span>
        </div>
      </aside>

      <main class="main__container p-2">
        <div class="button__container">
          <div class="btn__display contained__button">
            <button class="btn btn__primary">Primary</button>
            <button class="btn btn__secondary">Secondary</button>
            <button class="btn btn__danger">Danger</button>
            <button class="btn btn__sucess">Sucess</button>
            <button class="btn btn__primary-text">Primary text</button>
          </div>
          <div class="btn__display outline__button">
            <button class="btn btn__primary_outline">Primary</button>
            <button class="btn btn__secondary_outline">Secondary</button>
            <button class="btn btn__danger_outline">Danger</button>
            <button class="btn btn__sucess_outline">Sucess</button>
          </div>
          <div class="btn__display link_N_Icon_button">
            <a href="#" class="btn btn__primary link_btn">LINK </a>
            <button class="btn btn__primary icons_btn">
              <span>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i></span
              >Add to cart
            </button>

            <button class="btn btn__danger icons_btn">
              <span> <i class="fas fa-trash"></i></span>Add to cart
            </button>
          </div>
          <div class="btn__display">
            <div class="float__container">
              <button class="btn float__btn"></button>
              <i class="fas fa-arrow-up"></i>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
